[Unit]
Description=Monitor and enforce permissions for home directory and .ssh
After=network.target

[Service]
Environment="USER=late4ever"
ExecStart=/usr/local/bin/mistia-nexus-ssh-permissions.sh
Restart=always
User=root
ExecStartPre=/bin/bash -c 'while ! systemctl is-active ssh || ! [ -d /home/$USER ]; do echo "Waiting for ssh and /home/$USER..."; sleep 5; done'

[Install]
WantedBy=multi-user.target