# --- Global Options ---
{
	email {env.CADDY_EMAIL}
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	admin localhost:2019 {
		origins caddy.mistia.xyz
	}
}

# --- Health Check Endpoint ---
:80 {
	handle /healthz {
		respond "OK" 200
	}
}

(security_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}

(proxy_headers) {
    header_up Host {http.request.host}
    header_up X-Real-IP {http.request.remote.ip}
    header_up X-Forwarded-For {http.request.remote.ip}
    header_up X-Forwarded-Proto {http.request.scheme}
}

# --- Dedicated AdGuard Home Block ---
# This block gets a specific certificate and has all headers explicitly imported.
# --8<-- [start:adguard]
adguard.mistia.xyz {
  import security_headers
  reverse_proxy http://192.168.50.2:80 {
    import proxy_headers
  }
}
# --8<-- [end:adguard]

