.md-grid {
    max-width: 90%; /* Or try a pixel value like 1200px or 1400px */
}

.md-sidebar--primary {
  width: 10rem;
}

.md-sidebar--secondary {
    width: 13rem;
}

.header-logo {
  width: 1.8rem;
}

.portainer {
  color: #38dafe;
}

.adguard {
  color: #4fbb77;
}

.duplicati {
  color: #226793;
}

.caddy {
  color: #00b94e;
}

.nextcloud {
  color: #0082c9;
}

.nginx {
  color: #f15833;
}